/*-- CSS Reset --*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Start main styling --*/

body {
    background: #f7f7f7;
    color: #333333;
    font-family: baskerville-urw, serif; 
}

section, header, footer {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

section {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

p, blockquote {
    padding: .5rem 0;
    line-height: 1.3;
}

h1, h2 {
    color: rgb(64, 30, 64);
}

h1 {
    font-size: 5.653rem;
    margin-top: 5rem;
    padding-bottom: 0;
}

h2 {
    font-size: 1.999rem;
    margin: 1rem 0 3rem 0;
    margin-bottom: 1.4rem;
}

blockquote {
    font-style: italic;
    font-size: 1.777rem;
    color: rgb(86, 0, 86);
    hanging-punctuation: first;
    text-indent: 0.7rem;
}

blockquote cite {
    font-style: normal;
    font-size: 1.5rem;
    color: #333333;
}

.leader {
    text-transform: capitalize;
    font-weight: bold;
}

/*-- Styling Links --*/

a { 
    color: rgb(64, 30, 64);
    text-decoration: none;
}

a:hover {
    color: rgb(64, 30, 64);
    border-bottom: 1px dotted;
}


/*-- Navigation --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(64, 30, 64);
    padding: 1.5rem 0;
    font-size: 0.75rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a {color: #ffffff;}

nav a:hover {
    border-bottom: none;
    color: rgb(112, 65, 112);
    transition: all 0.3s ease-in-out;
}
/*-- Styling table--*/
table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2rem;
    width: 100%;
}

caption {
    margin: 1.5em 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
}

th {
    font-weight: normal;
    text-align: left;
    color: #f7f7f7;
    background: rgb(64, 30, 64);
}

th, td {padding: 0.4em;}

table, td {
    background: rgb(212, 184, 212);

    border: 2px solid #f7f7f7;
}

/*-- Images --*/
img {
    display: block;
    margin: 3rem 0 2em 0;
    padding: 0;
    max-width: 100%;
}

hr {
    margin: 60px 0;
    height: 1px;
    background-color: rgb(64, 30, 64);
    border: 0 none;
}

/*-- Styling the footer --*/

footer {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 6rem;
}